body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input, textarea {
  width: 100%
}

h1 {
  text-align: center;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Roboto-Regular.ttf) format('ttf');
}

#appColor {
  background-color: #084C61;
}

/****Sections divided by flex****/
#app {
  /* the parent container */
  display: flex;
}

#main {
  /* the main element (for things that are always showing) */
  flex-grow: 3;
  flex-shrink: 3;
  display: flex;
}

#infoAndFormSection {
  margin-left: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

#mapSection {
  flex-grow: 2;
  flex-shrink: 2;
  height: 100%;
}

/****Microphone dots on the map****/
.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
}

#mic1 {
  margin-left: 50px;
  margin-top: 40px;
  background-color: red;
}

#mic2 {
  margin-left: 210px;
  margin-top: 40px;
  background-color: #00cc00;
}

#mic3 {
  margin-left: 418px;
  margin-top: 40px;
  background-color: #00cc00;
}

#mic4 {
  margin-left: 573px;
  margin-top: 40px;
  background-color: #00cc00;
}

#mic5 {
  margin-left: 610px;
  margin-top: 90px;
  background-color: #00cc00;
}

#mic6 {
  margin-left: 695px;
  margin-top: 125px;
  background-color: #00cc00;
}

#mic7 {
  margin-left: 97px;
  margin-top: 285px;
  background-color: red;
}

#mic8 {
  margin-left: 165px;
  margin-top: 285px;
  background-color: #00cc00;
}

#mic9 {
  margin-left: 295px;
  margin-top: 265px;
  background-color: #00cc00;
}

#mic10 {
  margin-left: 500px;
  margin-top: 160px;
  background-color: #00cc00;
}

#mic11 {
  margin-left: 480px;
  margin-top: 270px;
  background-color: #00cc00;
}

#mic12 {
  margin-left: 480px;
  margin-top: 360px;
  background-color: #00cc00;
}

#mic13 {
  margin-left: 653px;
  margin-top: 270px;
  background-color: #00cc00;
}

#mic14 {
  margin-left: 653px;
  margin-top: 360px;
  background-color: #00cc00;
}

.safeText {
  background-color: #84e184;
}

.unSafeText {
  background-color: #f78f8f;
}

.text {
  position:relative;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  display: none;
  width: 175px;
  font-size: 15px;
}

br {
   display: block;
   margin: 1px 0;
}

.circle:hover .text {
  display: block;
}

/****Checkbox toggle****/
#toggle:checked ~ * #sidebar {
  display: none;
  background-color: blue;
}

#toggleName {
  text-align: center;
  color: white;
}
